body{
background-image:url(https://www.emagister.com/express/media/catalog/product/cache/1/image/788x525/9df78eab33525d08d6e5fb8d27136e95/2/9/2971686_big_5/www.emagister.com-laborus-work-consulting-2971686-curso-online-programacion-php-31.jpg);
background-size: 100%;
background-repeat: no-repeat;
}
